version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.3-node-browsers
    steps: # a set of executable commands
      - checkout # special step to check out source code to working directory
      - run: sudo apt install -y zlib1g-dev
      - run: sudo docker-php-ext-install zip
      - run: sudo composer self-update
      - restore_cache: # special step to restore the dependency cache if `composer.lock` does not change
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            # fallback to using the latest cache if no exact match is found (See https://circleci.com/docs/2.0/caching/)
            - composer-v1-
      - run: composer install -n --prefer-dist
      - save_cache: # special step to save the dependency cache with the `composer.lock` cache key template
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - run: ./vendor/bin/phpunit
      # See https://circleci.com/docs/2.0/deployment-integrations/ for deploy examples 


