name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: xdebug
      
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress
      
      - name: Run tests with coverage
        env:
          DOG_CEO_CACHE_KEY: test-key
        run: vendor/bin/phpunit --coverage-clover coverage/clover.xml
  
      - uses: codecov/codecov-action@v5
        with:
          #fail_ci_if_error: true # optional (default = false)
          #files: ./coverage1.xml,./coverage2.xml # optional
          #flags: unittests # optional
          #name: codecov-umbrella # optional
          token: ${{ secrets.CODECOV_TOKEN }}
          #verbose: true # optional (default = false)

      - name: Upload coverage to Codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report \
            -r coverage/clover.xml \
            --partial